* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif; }

body {
  background-color: #aaaaaa7e; }

.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25)), url(/Security-cameras/img/camara.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  min-height: 100vh; }
  .header__titulo {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 25px #111;
    transition: opacity 0.5s; }

.header__titulo:hover {
  opacity: 0.3; }

.navbar {
  background-color: #393636fa;
  position: sticky;
  top: 0;
  font-weight: 600;
  font-size: 20px;
  z-index: 10; }
  .navbar__list {
    display: flex;
    justify-content: space-around;
    color: #fff; }
  .navbar__item, .navbar a {
    list-style: none;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-shadow: 0 0 25px #222; }

a:hover {
  background-color: #6b6666fa;
  opacity: 0.6;
  border-radius: 5px;
  color: #ffffff; }

.box {
  max-width: 1200px;
  max-height: 800px;
  margin: auto; }
  .box__title {
    text-align: center;
    padding: 45px;
    color: #fff; }
  .box__content {
    display: flex; }
  .box__image-container {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #001d7d;
    border-radius: 50%;
    margin: 5px;
    padding: 35px; }
  .box__image {
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
    z-index: 5;
    border-radius: 70px; }
  .box__text {
    text-align: center;
    align-content: center;
    text-wrap: pretty;
    color: #fff; }

#camaras {
  background-color: #1856c6; }

#alarmas {
  background-color: #001d7d; }

#cerco {
  background-color: #0c3aa2; }

#acceso {
  background-color: #062b8f; }

#contactame {
  background-color: #1248b4;
  height: 800px; }
