@import "./utils/vars";

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;

}

.header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25)), url(/Security-cameras/img/camara.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    min-height: 100vh;
    align-items: center;
    
}

.titulo {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: $letra-xxl;
    text-align: center;
    text-shadow: 0 0 25px #111;
    transition: opacity 0.5s;
    
}

.titulo:hover {
    opacity: 0.3;
}
.navbar {
    display: flex;
}
