//fuentes
$fuente-principal: arial, helvetica, sans-serif;


//tamaños
$letra-xxl: 30px;
$letra-xl: 26px;
$letra-l: 20px;
$letra-m: 16px;
$letra-s: 12px;
$letra-xs: 8px;

//colores
$color-uno: rgba(173, 17, 17, 0.824);
$color-dos: rgba(20, 19, 1, 0.39);
$color-tres: rgba(6, 0, 193, 0.792);
$color-cuatro: rgba(94, 93, 103, 0.477);