//fuentes
$fuente-principal: arial, helvetica, sans-serif;


//tamaños
$letra-xxl: 50px;
$letra-xl: 36px;
$letra-l: 24px;
$letra-m: 20px;
$letra-s: 16px;
$letra-xs: 12px;

//colores
$color-uno: #1856c6;
$color-dos: #1248b4;
$color-tres: #0c3aa2;
$color-cuatro: #062b8f;
$color-cinco: #001d7d;